[Unit]
Description=IDENA Daemon
After=network.target
StartLimitIntervalSec=0
[Service]
User=idena
WorkingDirectory=/home/idena/
ExecStart=/home/idena/idena-node --config=/home/idena/config.json
Restart=on-failure
RestartSec=60
LimitNOFILE=1000000
[Install]
WantedBy=multi-user.target
